<!DOCTYPE html>

<head>
    <title>static ABOUT page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        {{>header}}
    </header>
    <div>
        <p>Our Story..{{story}}</p>
    </div>
    <footer>{{>footer}}</footer>
</body>

</html>