<!DOCTYPE html>

<head>
    <title>static html page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        {{>header}}
    </header>
    <div id="puzzleoftheday"></div>
    <div>
        <p>Forecast for today</p>
        <hr><br>
        <form action="">
            <input type="text" placeholder="Key in location">
            <button>Search</button>
        </form>
        <br><hr>
    </div>
    <div>
        <p id="message-1"></p>
        <div id="weatherimage"></div>
        <p id="message-2"></p>
    </div>
    <div><em>by {{name}}</em></div>
    <footer>{{>footer}}</footer>
    <script src="./js/app.js"></script>
</body>

</html>