<!DOCTYPE html>

<head>
    <title>404</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        {{>headernotfound}}
    </header>
    <div>
        <p>{{message}}</p>
    </div>
    <footer>{{>footernotfound}}</footer>
</body>

</html>