<!DOCTYPE html>

<head>
    <title>static ABOUT page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        {{>header}}
    </header>
    <div>
        <p>Weather forecast for today..{{forecast}}</p>
        <p>at..{{location}}</p>
    </div>
    <footer>{{>footer}}</footer>
</body>

</html>